.body {
    background: #2B32B2;
}

.brand_name {
    z-index: 11;
    padding: 20px;

    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;

}



ion-item {


    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    align-items: center;
    color: #2B32B2;
    --border-color: var(--ion-color-danger, #2B32B2);
}

.sub_text {
    margin-top: 15px;
    display: grid;
    height: 120px;
    align-items: space-between;
    justify-content: space-evenly;
    flex-direction: column;
}

.text1 {
    z-index: 3;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}

.text2 {
    z-index: 3;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.color {
    color: #2B32B2;
    font-weight: "bold";
}

.circle1 {
    height: 506px;
    width: 589px;
    border-radius: 50%;
    background-color: #95FFFF;
    position: absolute;
    z-index: -2;
    left: -45px;
    top: -120px;
}

.space1 {
    height: 37px;
}

.circle2 {
    height: 497px;
    width: 599px;
    border-radius: 60%;
    background-color: #95FFFF;
    position: absolute;
    z-index: -2;
    left: -130px;
    top: -90px;
}


.maintitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    font-weight: bold;

}

.main_text {
    margin-left: 15px;
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 50px;
    color: #2B32B2;
}

.space2 {
    height: 40px;
}